                      <!--#いいね機能-->
                        <% if post.favorited_by?(current_user) %>
                        <span class="fa fa-heart like-btn-unlike">
                        <%= link_to post_favorites_path(post), method: :delete, remote: true,  class: "favorite-btn" do %>
                          <%= post.favorites.count %>いいね
                        <% end %>
                        </span> 
                        <% else %>
                        <span class="fa fa-heart like-btn">
                        <%= link_to post_favorites_path(post), method: :post, remote: true, class: "favorite-btn" do %>
                          <%= post.favorites.count %>いいね
                        <% end %>
                        </span>
                        <% end %>
                   