
  <div class="theTarget">
        <!--#　asset_pathを使うと適切な場所を選んで持ってきてくれる-->
        <div class="target_test2">
        </div>
        <div class="target_test3">
        </div>
        <div class="target_test4">
        </div>
        <div class="target_test5">
        </div>
        <div class="target_test1">
        </div>
  </div>
  <div class="top-text">
    <li>
      <h1 class= "title">車を所有して、自由にいろんな場所に駆け抜ける喜びを共有しよう!</h1></br>
      <%= link_to "サイトを見てみる",posts_path, class: "btn btn-primary" %>
      <% if user_signed_in? %>
      <% else %>
        <%= link_to "いますぐサインアップする",new_user_registration_path, class: "btn btn-success" %>
      <% end %>
    </li>
  </div>
  <!--#javascriptの順番を正すために直接記述をした-->
    <script>
    $(document).on('turbolinks:load',function(){
    // オプションを指定してSkipprの実行
        $(".theTarget").skippr({
            // スライドショーの変化（"fade" or "slide"）
            transition : 'fade',
            // 変化にかかる時間（ミリ秒）
            speed : 1000,
            // easingの種類
            easing : 'easeOutQuart',
            // ナビゲーションの形（"block" or "bubble"）
            navType : 'block',
            // 子要素の種類（"div" or "img"）
            childrenElementType : 'div',
            // ナビゲーション矢印の表示（trueで表示）
            arrows : true,
            // スライドショーの自動再生（falseで自動再生なし）
            autoPlay : true,
            // 自動再生時のスライド切替間隔（ミリ秒）
            autoPlayDuration : 5000,
            // キーボードの矢印キーによるスライド送りの設定（trueで有効）
            keyboardOnAlways : true,
            // 1枚目のスライド表示時に戻る矢印を表示するかどうか [false]:矢印を隠さない [true]:矢印を隠す
            hidePrevious : true
          });
    });
    </script>
