      <body>
        <div>
          <aside></aside>
            <main>
              <h1>絶景スポット</h1>
                    <input id="address" type="textbox" value="GeekSalon">
                    <input type="button" value="Encode" onclick="codeAddress()">
                    <div id='map'></div>
                    
                    <style>
                    #map {
                      height: 800px;
                      width: 800px;
                    }
                    </style>
                    
                    <script>
                   
                  let map
                    // #宣言
                  function initMap(){
                      geocoder = new google.maps.Geocoder()
                    
                      map = new google.maps.Map(document.getElementById('map'), {
                             // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
                          center: {
                            // #指定した場所にmapが移動する
                            lat: gon.user.latitude,
                            lng: gon.user.longitude
                          },
                          // #マップの中心のズーム率
                          zoom: 12,
                      }); 
                      
                     
                     
                    
                      marker = new google.maps.Marker({
                        // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
                        position: {
                          lat: gon.user.latitude,
                          lng: gon.user.longitude
                        },
                                          
                            // #26行目のmapを引き出している
                        map: map
                      });
                    }
                    
                    let geocoder

                    function codeAddress(){
                      
                      let inputAddress = document.getElementById('address').value;
                    
                      geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                        if (status == 'OK') {
                          map.setCenter(results[0].geometry.location);
                          var marker = new google.maps.Marker({
                              map: map,
                              position: results[0].geometry.location
                          });
                        } else {
                          alert('該当する結果がありませんでした：' + status);
                        }
                      });   
                    }
                    </script>
                    <!--#mapをグーグルから読み込んでいる-->
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-qnvFteh0WMWGbOVDz8Xq2PFBrIc5-_E&callback=initMap" async defer></script>
              <!--</main>                                                                                     #自動で呼び出してもらってる-->
            <aside></aside>
        </div>    
      </body> 