/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


body {
  // width: 1000px; /*#固定幅調整*/
  margin: 0 auto; /*#固定幅調整*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 90px
}

div {
  display: flex;
  flex: 1;
}
li {
  list-style: none;/*#リストマーク消し*/
}
main {
  flex: 1;
}
nav {
  // outline: 1px solid gray;
  width: 100px;
}

aside {
  // outline: 1px solid gray;
  width: 100px;
}

footer {
  height: 40px;
}
// #topページのスライドレイアウト用
.container {
  height: 100px;
}


.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}
.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

@media screen and (max-width: 900px) {
    /*#レスポンシブ対応*/
    body, nav, aside {
        width: 100%;
    }
    div {
        flex-direction: column;
    }

}