// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hero {
  background: image-url('test6.jpg') center;
  background-size: cover;
  color: #fff;
}
.jumbotron {
  height: 400px;
  margin-top: 30px;
}


// topページレイアウト
.jumbo {
  margin: 300px;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/* ----- 背景用の動画ファイル ----- */
.wrap {
 
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
 
}

video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}
